@media(max-width:750px) {
  .paper {
    width:96%;
  }

  .pic{
    cursor: auto;

  }

  .content-cat{
    padding-left:1%;
  }

  .content-wrapper{
    padding-right: 1%;
  }

  .profiles-listing ul li, .profiles-listing ul li:first-child{
    width: 49%;
  }

  .small-fullwidth-row{
    display: block;
  }

  .small-fullwidth-row div{
    display: block;
    width:100%;
  }

  .small-fullwidth-row .content-text{
    border-left: 2px solid #dddddd;
  }

  .small-center{
    text-align: center;
  }

  .work-listing .first-listing{
    margin-top: 0.45em;
  }
}
