body, html {
  padding-top:2.5em;
  margin:0;
  background-color:#fafafa;
  font-size: 13pt;
  font-family: "Open Sans";
}

h2{
  font-weight: normal;
  margin: 0.5em;
  margin-bottom: 0.2em;
}

h3{
  font-weight:300;
  font-size:1em;
  margin: 0em;
}

.note {
  display:block;
  position: absolute;
  top:10px;
  left:10px;

  font-size: 0.6em;
}

.summary p{
  font-size:0.7em;
  font-weight:400;

  color: #424242;

  margin-left:2em;
}

.new {
  background-color: #81C784;

  border: 1px solid #757575;
  padding: 1px;
  border-radius: 4px;
}

/* Header */

header {
  width:100%;
  vertical-align: middle;
  text-align: center;
  font-family: "Merriweather";
}

.header-content {
  display: inline-block;
}

.pic {
  margin: 0 auto;
  margin-top:-3em;

  border-radius:10em;
  height:0em;
  width:auto;

  border: 2px solid #dddddd;
  cursor:pointer;

  transition: height .6s, margin-top .6s, border 0.3s;
}

.pic.loaded {
  height: 6em;
}


@keyframes intro {
  from {
    height:0em;
  }

  to {
    height: 6em;
  }
}

.pic:hover, .pic:active{
  height: 14em;
  margin-top: -5em;
  border: 4px solid #dddddd;
}

header p {
  text-align:center;

  margin:0;

  color: #212121;
}

.first-name {
   font-size: 1.05em;
}

.subtitle {
  font-family: "Merriweather";
  font-size:0.7em;
  font-weight:500;
  color: #424242;
}

/* Information */

.paper {
  margin: 0 auto;
  margin-bottom:1em;

  background-color:white;
  width:60%;

  padding:0.5em 0 0.5em 0;

  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 3px solid #dddddd;
  border-radius:3px;
}

/* Content Part */

.content-wrapper {
  padding-right:7.25%;
}

.content {
  display:table;
  width:100%;

  padding-top:1em;

  /*border-top: 1px solid #eeeeee;*/
}


.work-listing .first-listing{
  margin-top: 1.3em !important;
}

.content:last-child {
  margin-bottom: 2em;
}

body > div > article > div > section:last-child {
  padding-bottom:1.5em;
}

.row {
    display:table-row;
}

.row div {
    display:table-cell;
}

.content-cat {
  text-align:center;
  vertical-align:middle;
  font-variant:small-caps;

  letter-spacing: 1px;

  color: #212121;

  font-family: "Merriweather";

  /* padding-left:6.66%; */
  width:22%;
}

.content-cat p {
  font-size:0.55em;
  font-weight:600;

  margin-bottom:0;
}

.content-text {
  border-left:1px solid #dddddd;
  transition: border 0.66s ease-in;
}

.big-text {
  vertical-align:top;
}

.content-text ul {
  padding:0;
  margin:0;
  margin-top:0.15em;

  width:85%;
  margin-left:1.5em;
}

.content-text ul:last-child {
  margin-bottom:0.5em;
}

.content-text ul li {
  font-size:0.7em;

  display:inline-block; 

  vertical-align: top;

}

.content-text ul li:first-child {
  width:35%;

  color: #424242;

  font-weight:600;
}

.content-text ul li a:hover {
  color:#4fc3f7;
}

.work-listing p {
  font-size:0.7em;

  color: #424242;

  margin-left:2em;
  margin-top:0.45em;
  margin-bottom: 0.45em;
}

.work-listing div ol li {
  font-size:0.7em;

  color: #424242;


}

.work-listing div ol {
margin-block-start: 0em;
}

div.content-text.work-listing.education-listing > p:nth-child(2) {
  margin-top:0.25em;
}

.work-listing .highlight {
  font-size:0.7em;
  font-weight:400;

  color: #424242;

  margin-left:3.25em;
  padding-left:0.5em;

  border-left:1px solid #dddddd;
}

.education-listing > .heading {
  font-weight:600;

  margin-top:0.75em;
  margin-left:2em;
}

.education-listing > .highlight {
  margin-left:3.25em;
}

.highlight {
  transition: border .33s ease-in;
}

.profiles-print{
  display: none;
}

.profiles-listing ul li, .profiles-listing ul li:first-child {
  width:24%;
  font-weight: normal;
}

.languages-listing ul li, .languages-listing ul li:first-child {
  width:24%;
  font-weight: normal;
}

.work-content, .education-content {
  padding-top: .75em;
}

div.content-text.skills-listing > p {
  font-size:0.7em;
  font-weight:400;

  margin-left: 2em;
  margin-top: 0.45em;
  margin-bottom: 0.45em;
}

.no-nl{
  display: inline-block;
}

a{
  text-decoration: none;
  color: #0277bd;
}

.fas {
  color: #000;
}

.network{
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.7em;
}

@media(max-width:1400px) {
  .paper {
    width:80%;
  }

  .content-cat{
    padding-left:0%;
  }

  .content-wrapper{
    padding-right: 2%;
  }
}


@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pro7pz');
  src:  url('fonts/icomoon.eot?pro7pz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pro7pz') format('truetype'),
    url('fonts/icomoon.woff?pro7pz') format('woff'),
    url('fonts/icomoon.svg?pro7pz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fa-artist"], [class*=" fa-artist"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-artist:before {
  content: "\e900";
}


.justified * {
  text-align: justify;
}

.extratopmargin {
  margin-top: 6em !important;
}

span.padspan {
  margin-right: 1em;
}