body, html {
  padding-top:2.5em;
  margin:0;
  background-color:#fafafa;
  font-size: 13pt;
  font-family: "Open Sans";
}

.note {
  display:block;
  position: absolute;
  top:10px;
  left:10px;

  font-size: 0.6em;
}

.summary p{
  font-size:0.7em;
  font-weight:400;

  color: #424242;

  margin-left:2em;
}

.new {
  background-color: #81C784;

  border: 1px solid #757575;
  padding: 1px;
  border-radius: 4px;
}

/* Header */

header {
  width:100%;
  vertical-align: middle;
  text-align: center;

}

.header-content {
  display: inline-block;
}

.pic {
  margin: 0 auto;
  margin-top:-3em;

  border-radius:10em;
  height:6em;
  width:auto;

  border: 2px solid #dddddd;
  transition : all 0.5s linear;

}


@keyframes intro {
  from {
    height:0em;
  }

  to {
    height: 6em;
  }
}

.pic {
  cursor:pointer;

  animation: intro .6s;
  -webkit-transition: height .7s, margin-top .6s, border 0.3s; /* Safari */
  transition: height .6s, margin-top .6s, border 0.3s;
}

.pic:hover{
  height: 12em;
  margin-top: -4em;
  border: 4px solid #dddddd;
}

.header-text {
  margin-top:0.5em;
  margin-left:1em;
  font-size:1.2em;
}

header p {
  text-align:center;
  font-family: "Merriweather";

  margin:0;

  color: #212121;
}

.first-name {
   font-size: 1.05em;
}

.subtitle {
  font-family: "Merriweather";
  padding-top:.3em;
  font-size:0.55em;
  font-weight:500;
  color: #424242;
}

/* Information */

.paper {
  margin: 0 auto;
  margin-bottom:1em;

  background-color:white;
  width:60%;

  padding:0.5em 0 0.5em 0;

  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 3px solid #dddddd;
  border-radius:3px;
}

/* Content Part */

.content-wrapper {
  padding-right:7.25%;
}

.content {
  display:table;
  width:100%;

  padding-top:1.5em;

  /*border-top: 1px solid #eeeeee;*/
}


.work-listing .first-listing{
  margin-top: 1.8em;
}

.content:last-child {
  margin-bottom: 2em;
}

body > div > article > div > section:last-child {
  padding-bottom:1.5em;
}

.row {
    display:table-row;
}

.row div {
    display:table-cell;
}

.content-cat {
  font-family: "Merriweather";
  font-variant:small-caps;
  font-weight:300;
  letter-spacing: 1px;

  color: #212121;

  font-size:0.975em;

  text-align:center;
  vertical-align:middle;

  padding-left:6.66%;
  width:30%;
}

.content-cat p {
  font-size:0.55em;
  font-weight:600;

  margin-bottom:0;
}

.content-text {
  border-left:1px solid #dddddd;
  transition: border 0.66s ease-in;
}

.big-text {
  vertical-align:top;
}

.content-text ul {
  padding:0;
  margin:0;
  margin-top:0.15em;

  width:85%;
  margin-left:1.5em;
}

.content-text ul:last-child {
  margin-bottom:0.5em;
}

.content-text ul li {
  font-size:0.7em;

  display:inline-block;

}

.content-text ul li:first-child {
  width:35%;

  color: #424242;

  font-weight:600;
}

.content-text ul li a:hover {
  color:#4fc3f7;
}

.work-listing p {
  font-size:0.7em;

  color: #424242;

  margin-left:2em;
  margin-top:0.45em;
  margin-bottom: 0.45em;
}

div.content-text.work-listing.education-listing > p:nth-child(2) {
  margin-top:0.25em;
}

.work-listing .highlight {
  font-family: "Open Sans";
  font-size:0.7em;
  font-weight:400;

  color: #424242;

  margin-left:3.25em;
  padding-left:0.5em;

  border-left:1px solid #dddddd;
}

.education-listing > .heading {
  font-weight:600;

  margin-top:0.75em;
  margin-left:2em;
}

.education-listing > .highlight {
  margin-left:3.25em;
}

.highlight {
  transition: border .33s ease-in;
}

.profiles-print{
  display: none;
}

.profiles-listing ul li, .profiles-listing ul li:first-child {
  width:24%;
  font-weight: normal;
}

.work-content, .education-content {
  padding-top: .75em;
}

section.content.education-content > div > div.content-cat {
  vertical-align: top;
}

div.content-text.skills-listing > p {
  font-family: "Open Sans";
  font-size:0.7em;
  font-weight:400;

  margin-left: 2em;
  margin-top: 0.45em;
  margin-bottom: 0.45em;
}

div.content-text.skills-listing > p > {
  color:#212121;
}

.no-nl{
  display: inline-block;
}

a{
  text-decoration: none;
  color: #0277bd;
}

.fa{
  color: #000;
}

.network{
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.7em;
}

@media(max-width:992px) {
  .paper {
    width:80%;
  }

  .content-cat{
    padding-left:2%;
  }

  .content-wrapper{
    padding-right: 2%;
  }
}
